button {
  padding: 0;
}

div {
  margin-bottom: -4px;
}

.board {
  display: flex;
  justify-content: center;
}

.square {
  display: inline-block;
  border: 1px solid black;
  width: 48px;
  height: 48px;
}

.selected {
  background-color: green;
}

.highlighted {
  background-color: yellow;
}